#sopropo {
    height: 500px;
    width: 75%;
    margin: 3.5% 12.5%;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
    #sopropo{
        width: 100%;
        height: 400px;
        margin: 0;
    }
}
