.content-law-rapport {
    width: 100%;
}

.content-law-rapport-txt {
    padding: 7.5% 15%;
}

/* Block color (ID) */

#newrapport-sum {
    height: 730px;
    background-color: #f1c6de;
}

#newlaw-sum {
    height: 730px;
    background-color: #f1c6de;
}

#newrapport-sum #infographic ,#newlaw-sum #infographic {
    width: 450px;
    height: 450px;
    margin-left: 25%;
}

#newrapport-1 {
    height: 500px;
    background-color: #bbd69d;
}

#newrapport-2 {
    height: 1380px;
    background-color: #d7ced8;
}

#newrapport-3 {
    height: 900px;
    background-color: #98c9b5;
}

#newrapport-4 {
    height: 430px;
    background-color: #c9aedd;
}

#newlaw-1 {
    height: 600px;
    /* height: 350px; */
    background-color: #bbd69d;
}

#newlaw-2 {
    height: 550px;
    /* height: 350px; */
    background-color: #d7ced8;
}

#newlaw-3 {
    height: 700px;
    background-color: #98c9b5;
}

#newlaw-4 {
    height: 670px;
    background-color: #c9aedd;
}

#newlaw-5 {
    height: 900px;
    background-color: #c9d8a1;
}

#newlaw-6 {
    height: 450px;
    background-color: #ab8eae;
}

#newlaw-7 {
    height: 450px;
    background-color: #adc5ab;
}

#newlaw-invc {
    display: none;
}

#infographic, #poster {
    height: 600px;
    width: 250px;
    margin-top: 50px;
    margin-left: 35%;
}

.read {
    margin-left: 3%;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .content-law-rapport-txt {
        padding: 10% 5%;
    }
    #newrapport-1 {
        height: 930px;
    }
    #newrapport-2 {
        height: 2330px;
    }
    #newrapport-3 {
        height: 400px;
    }
    #newrapport-4 {
        height: 630px;
    }
    #newlaw-1 {
        height: 1050px;
    }
    #newlaw-2 {
        height: 1120px;
    }
    #newlaw-3 {
        height: 1550px;
    }
    #newlaw-4 {
        height: 1150px;
    }
    #newlaw-5 {
        height: 2380px;
    }
    #newlaw-6 {
        height: 880px;
    }
    #newlaw-7 {
        height: 730px;
    }
    #newlaw-invc {
        display: block;
        height: 50px;
    }
    #newrapport-gone {
        height: 30px;
    }
    #newrapport-sum #infographic, #newlaw-sum #infographic {
        width: 300px;
        height: 300px;
        margin-left: 0%;
    }
    #newlaw-sum .content-law-rapport-txt {
        padding: 10% 2.5%;
    }
    #newlaw-sum {
        height: 460px;
    }
}